nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  width: 100vw;
  height: 5.5rem;
  padding: 0.5rem 2rem;
  background-color: #212121;
  box-sizing: border-box;
}
nav > div {
  height: 4.5rem;
  width: 90rem;
  display: flex;
  max-width: 100%;
  margin-inline: auto;
  align-items: center;
  justify-content: space-between;
}
nav > div div {
  display: flex;
  align-items: center;
}
nav > div div a {
  margin-left: 1rem;
}
nav > div > a,
nav > div > a > img {
  height: 2.5rem;
  object-fit: contain;
}
nav > div img {
  height: 3rem;
}
.accessibility {
  padding: 1rem 1.25rem;
  background-color: var(--color-accent);
  position: fixed;
  z-index: 100;
  right: -3rem;
  top: 15rem;
  font-size: 1.25rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  transform: rotate(-90deg);
}
.accessibility:hover {
  cursor: pointer;
}
.accessibility-block {
  right: 0;
  top: 13rem;
  z-index: 101;
  padding: 1rem;
  position: fixed;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  -webkit-box-shadow: -5px 0px 15px 0px rgba(85, 85, 85, 0.77);
  box-shadow: -5px 0px 15px 0px rgba(85, 85, 85, 0.33);
}
.accessibility-block p {
  font-size: 18px !important;
}
.accessibility-block p:hover {
  cursor: pointer;
}
.accessibility-block .option {
  display: flex;
  margin-top: 0.75rem;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  justify-content: center;
}
.accessibility-block .option img {
  margin-inline: 1rem;
  width: 30px;
}
.accessibility-block .option .plus,
.accessibility-block .option .minus {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.accessibility-block .option .plus:before,
.accessibility-block .option .minus:before {
  content: '';
  width: 24px;
  height: 2px;
  position: absolute;
}
.accessibility-block .option .plus:hover,
.accessibility-block .option .minus:hover {
  cursor: pointer;
}
.accessibility-block .option .plus:after {
  content: '';
  width: 2px;
  height: 24px;
  position: absolute;
  margin-inline: auto;
}
.accessibility-block .option .toggle {
  width: 96px;
  height: 40px;
  display: flex;
  border-radius: 20px;
}
.accessibility-block .option .toggle span {
  width: 40px;
  height: 40px;
  display: flex;
  font-size: 14px !important;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.accessibility-block .option .toggle span:after {
  content: 'Off';
}
.accessibility-block .option .toggle input:checked + span {
  transform: rotate(360deg);
  margin-left: 56px;
}
.accessibility-block .option .toggle input:checked + span:after {
  content: 'On';
}
.accessibility-block .option .toggle:hover {
  cursor: pointer;
}
.accessibility-block .option.with-toggle img {
  margin-left: 0;
}
.accessibility-block.hide {
  display: none;
}
.accessibility-block {
  background-color: var(--background-light);
}
.accessibility-block .option {
  background-color: var(--color-contast);
}
.accessibility-block .plus,
.accessibility-block .minus {
  background-color: #212121;
  color: var(--color-contast);
}
.accessibility-block .plus:before,
.accessibility-block .minus:before,
.accessibility-block .plus:after,
.accessibility-block .minus:after {
  background-color: var(--color-contast);
}
.accessibility-block .plus:hover,
.accessibility-block .minus:hover {
  background-color: var(--color-accent);
}
.accessibility-block .toggle {
  background-color: var(--background-light);
}
.accessibility-block .toggle span {
  color: var(--color-contast);
  background-color: #212121;
}
.accessibility-block .toggle input:checked + span {
  background-color: var(--color-accent);
}
footer {
  padding: 3.5rem 2rem;
}
footer > div {
  width: 90rem;
  display: flex;
  max-width: 100%;
  align-items: center;
  margin-inline: auto;
  flex-direction: column;
}
footer > div > div:first-of-type {
  margin-bottom: 1rem;
}
footer > div > div {
  width: 100%;
  display: flex;
  justify-content: center;
}
footer > div > div > div {
  max-width: 100%;
  text-align: center;
}
footer > div > div > div > div {
  margin-bottom: 2rem;
}
footer > div > div > div:first-of-type {
  width: 60rem;
}
footer > div > div > div:first-of-type div {
  display: flex;
  flex-wrap: wrap;
}
footer > div > div > div:first-of-type a {
  margin-right: 1rem;
  margin-bottom: 1rem;
}
footer > div > div > div:last-of-type div {
  display: flex;
  justify-content: center;
}
footer > div a {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer {
  background: var(--color-contast);
}
footer a {
  color: var(--color-accent);
}
footer p {
  color: #21212180;
}
footer .light {
  display: none;
}
body.dark footer {
  background-color: #212121;
}
body.dark footer p {
  color: #FFFFFF80;
}
body.dark footer .light {
  display: initial;
}
body.dark footer .dark {
  display: none;
}
@media (max-width: 1279px) {
  footer > div > div {
    text-align: center;
    align-items: center;
  }
  footer > div > div:first-of-type {
    margin-bottom: 3rem;
  }
  footer > div > div:last-of-type {
    flex-direction: column;
  }
  footer > div > div:last-of-type > div > div:first-of-type {
    align-items: center;
    justify-content: center;
  }
  footer > div > div:last-of-type > div a:last-of-type {
    margin-right: 0;
  }
  footer > div > div:last-of-type > div:last-of-type p {
    margin-block: 4rem 2rem;
  }
}
/*# sourceMappingURL=main.css.map */