nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  width: 100vw;
  height: 5.5rem;
  padding: 0.5rem 2rem;
  background-color: #212121;
  box-sizing: border-box;
}
nav > div {
  height: 4.5rem;
  width: 90rem;
  display: flex;
  max-width: 100%;
  margin-inline: auto;
  align-items: center;
  justify-content: space-between;
}
nav > div div {
  display: flex;
  align-items: center;
}
nav > div div a {
  margin-left: 1rem;
}
nav > div div img.button {
  height: 1.5rem !important;
}
nav > div > a,
nav > div > a > img {
  height: 2.5rem;
  object-fit: contain;
}
nav > div img {
  height: 3rem;
}
.menu {
  height: calc(100vh - 5.5rem);
  position: fixed;
  top: 5.5rem;
  left: 0;
  pointer-events: none;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  width: 100vw;
  transition: opacity 0.3s;
}
.menu a {
  transition: color 0.3s;
}
.menu > a {
  margin-bottom: 4rem;
  font-size: 1.5rem;
}
.menu > a:first-of-type {
  margin-top: auto;
}
.menu > a:last-of-type {
  margin-bottom: auto;
}
.menu > div {
  padding-block: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.menu > div img {
  margin-bottom: 2rem;
}
.menu > div .flex {
  flex-wrap: wrap;
  justify-content: center;
}
.menu > div a {
  margin-inline: 1rem;
}
.menu {
  background-color: #212121;
}
.menu a {
  color: #fff;
}
.menu a.active,
.menu a:hover {
  color: var(--color-accent);
}
body.nav-active {
  overflow-y: hidden;
}
body.nav-active .menu {
  opacity: 1;
  pointer-events: unset;
}
.overlay {
  display: none;
}
body.active-popup {
  --initial-size: 1.5rem;
  --increased-size: 1.875rem;
  overflow: hidden;
}
body.active-popup .overlay {
  display: flex;
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 1rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
body.active-popup .overlay .popup {
  width: 60rem;
  max-width: 100%;
  height: 30rem;
  max-height: 100%;
  min-height: 30rem;
  position: relative;
  background-color: #212121;
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
body.active-popup .overlay .popup .close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  height: 2rem;
}
body.active-popup .overlay .popup span {
  width: 30em;
  max-width: 100%;
  font-size: var(--increased-size);
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  line-height: 1.5;
  transition: font-size 0.3s, letter-spacing 0.3s;
  animation-duration: 10s;
  animation-name: accessibility;
}
@keyframes accessibility {
  0% {
    font-size: var(--initial-size);
  }
  40% {
    font-size: var(--initial-size);
  }
  60% {
    font-size: var(--increased-size);
  }
  100% {
    font-size: var(--increased-size);
  }
}
.accessibility {
  padding: 1rem 1.25rem;
  background-color: var(--color-accent);
  position: fixed;
  z-index: 100;
  right: -5.125rem;
  top: 15rem;
  font-size: 1.25rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  transform: rotate(-90deg);
}
.accessibility:hover {
  cursor: pointer;
}
.accessibility-block {
  right: 0;
  top: 8rem;
  z-index: 101;
  padding: 1rem;
  position: fixed;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  -webkit-box-shadow: -5px 0px 15px 0px rgba(85, 85, 85, 0.77);
  box-shadow: -5px 0px 15px 0px rgba(85, 85, 85, 0.33);
}
.accessibility-block p {
  font-size: 18px !important;
}
.accessibility-block p:hover {
  cursor: pointer;
}
.accessibility-block .option {
  display: flex;
  margin-top: 0.75rem;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  justify-content: center;
}
.accessibility-block .option img {
  margin-inline: 1rem;
  width: 30px;
}
.accessibility-block .option .plus,
.accessibility-block .option .minus {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.accessibility-block .option .plus:before,
.accessibility-block .option .minus:before {
  content: '';
  width: 24px;
  height: 2px;
  position: absolute;
}
.accessibility-block .option .plus:hover,
.accessibility-block .option .minus:hover {
  cursor: pointer;
}
.accessibility-block .option .plus:after {
  content: '';
  width: 2px;
  height: 24px;
  position: absolute;
  margin-inline: auto;
}
.accessibility-block .option .toggle {
  width: 96px;
  height: 40px;
  display: flex;
  border-radius: 20px;
}
.accessibility-block .option .toggle span {
  width: 40px;
  height: 40px;
  display: flex;
  font-size: 14px !important;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.accessibility-block .option .toggle span:after {
  content: 'Off';
}
.accessibility-block .option .toggle input:checked + span {
  transform: rotate(360deg);
  margin-left: 56px;
}
.accessibility-block .option .toggle input:checked + span:after {
  content: 'On';
}
.accessibility-block .option .toggle:hover {
  cursor: pointer;
}
.accessibility-block .option.with-toggle img {
  margin-left: 0;
}
.accessibility-block.hide {
  display: none;
}
.accessibility-block {
  background-color: var(--background-light);
}
.accessibility-block .option {
  background-color: var(--color-contast);
}
.accessibility-block .plus,
.accessibility-block .minus {
  background-color: #212121;
  color: var(--color-contast);
}
.accessibility-block .plus:before,
.accessibility-block .minus:before,
.accessibility-block .plus:after,
.accessibility-block .minus:after {
  background-color: var(--color-contast);
}
.accessibility-block .plus:hover,
.accessibility-block .minus:hover {
  background-color: var(--color-accent);
}
.accessibility-block .toggle {
  background-color: var(--background-light);
}
.accessibility-block .toggle span {
  color: var(--color-contast);
  background-color: #212121;
}
.accessibility-block .toggle input:checked + span {
  background-color: var(--color-accent);
}
footer {
  padding: 3.5rem 2rem;
}
footer > div {
  width: 90rem;
  display: flex;
  max-width: 100%;
  align-items: center;
  margin-inline: auto;
  flex-direction: column;
}
footer > div > div:first-of-type {
  margin-bottom: 1rem;
}
footer > div > div {
  width: 100%;
  display: flex;
  justify-content: center;
}
footer > div > div > div {
  max-width: 100%;
  text-align: center;
}
footer > div > div > div > div {
  margin-bottom: 2rem;
}
footer > div > div > div:first-of-type {
  width: 60rem;
}
footer > div > div > div:first-of-type div {
  display: flex;
  flex-wrap: wrap;
}
footer > div > div > div:first-of-type a {
  margin-right: 1rem;
  margin-bottom: 1rem;
}
footer > div > div > div:last-of-type div {
  display: flex;
  justify-content: center;
}
footer > div a {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer {
  background: var(--color-contast);
}
footer a {
  color: var(--color-accent);
}
footer p {
  color: #21212180;
}
footer .light {
  display: none;
}
body.dark footer {
  background-color: #212121;
}
body.dark footer p {
  color: #FFFFFF80;
}
body.dark footer .light {
  display: initial;
}
body.dark footer .dark {
  display: none;
}
@media (max-width: 1279px) {
  footer > div > div {
    text-align: center;
    align-items: center;
  }
  footer > div > div:first-of-type {
    margin-bottom: 3rem;
  }
  footer > div > div:last-of-type {
    flex-direction: column;
  }
  footer > div > div:last-of-type > div > div:first-of-type {
    align-items: center;
    justify-content: center;
  }
  footer > div > div:last-of-type > div a:last-of-type {
    margin-right: 0;
  }
  footer > div > div:last-of-type > div:last-of-type p {
    margin-block: 4rem 2rem;
  }
  body.active-popup .overlay {
    --initial-size: 1.25rem;
    --increased-size: 1.5rem;
  }
  body.active-popup .overlay .popup {
    height: auto;
    padding: 3rem 1.5rem;
  }
  body.active-popup .overlay .popup .close {
    top: 1.5rem;
    right: 1.5rem;
  }
}
/*# sourceMappingURL=main.css.map */