@font-face {
  font-family: 'Cabin';
  font-weight: 400;
  src: url("../fonts/cabin-regular.ttf");
}
@font-face {
  font-family: 'Cabin';
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/cabin-regular-italic.ttf");
}
@font-face {
  font-family: 'Cabin';
  font-weight: 600;
  src: url("../fonts/cabin-medium.ttf");
}
body {
  --color-accent: #F03BBF;
  --color-primary: #212121;
  --color-contast: #FFFFFF;
  --background-light: #F2F2F2;
  --font-size: 1;
  --letter-spacing: 1;
}
body.dark {
  --color-primary: #FFFFFF;
}
* {
  font-family: 'Cabin', serif;
}
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
@media (max-width: 1440px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 1366px) {
  html {
    font-size: 14px;
  }
}
body {
  margin: 0;
  padding: 5.5rem 0 0 0;
}
body.gray > main {
  filter: grayscale(100%);
}
body.inverted > main {
  filter: invert(100%);
}
div {
  box-sizing: border-box;
}
button,
input {
  outline: 0;
  border: 0;
}
a {
  text-decoration: none;
}
a,
button,
.button {
  border: 0.25rem solid transparent;
}
body.link-outlined a,
body.link-outlined button,
body.link-outlined .button {
  border-color: var(--color-accent);
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
h1 {
  font-size: calc(48px * var(--font-size));
  letter-spacing: calc(0.02em * var(--letter-spacing));
}
h2 {
  font-size: calc(36px * var(--font-size));
  letter-spacing: calc(0.02em * var(--letter-spacing));
}
h3 {
  font-size: calc(28px * var(--font-size));
  letter-spacing: calc(0.02em * var(--letter-spacing));
}
h4 {
  font-size: calc(24px * var(--font-size));
  letter-spacing: calc(0.02em * var(--letter-spacing));
}
a,
p,
input,
button,
label {
  font-size: calc(18px * var(--font-size));
  letter-spacing: calc(0.02em * var(--letter-spacing));
}
p.small {
  font-size: calc(14px * var(--font-size));
  letter-spacing: calc(0.02em * var(--letter-spacing));
}
.flex {
  display: flex;
}
.circle {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.circle img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.divider {
  width: 50rem;
  max-width: calc(100vw - 3rem);
  margin-inline: auto;
  height: 0;
  border: 1px solid #F93DBB;
}
.spacer {
  --border-size: 3rem;
  --border-size-negative: calc(var(--border-size) * -1);
  --extra-width: calc(160rem * var(--font-size));
  padding-block: var(--border-size);
  width: 100vw;
  overflow-x: hidden;
}
.spacer .with-ellipse {
  position: relative;
}
.spacer .with-ellipse .ellipse {
  height: 100%;
  width: calc(100% + var(--extra-width));
  position: absolute;
  top: 0;
  left: calc(var(--extra-width) / -2);
  z-index: 1;
  background-color: var(--color-contast);
  border-radius: 50%;
  border: 10px transparent;
}
.spacer .with-ellipse .border {
  position: absolute;
  top: var(--border-size-negative);
  bottom: var(--border-size-negative);
  left: calc(var(--border-size-negative) - (var(--extra-width) / 2));
  right: calc(var(--border-size-negative) - (var(--extra-width) / 2));
  background: linear-gradient(231.46deg, #7955A1 18.55%, #D14E9C 101.49%);
  content: '';
  z-index: 0;
  border-radius: 50%;
}
/*# sourceMappingURL=presets.css.map */